---
import "../scss/styles.scss";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitaciones digitales de Vintage Invitaciones</title>
    <link rel="shortcut icon" href="/assets/images/icons/Icon-App-20x20@1x.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/libraries/bootstrap/bootstrap.min.css" />
</head>
<body>

    <slot />
    <script is:inline src="/assets/libraries/bootstrap/bootstrap.bundle.min.js"></script>
    <script is:inline src="/assets/libraries/lenis/lenis.min.js"></script>
</body>
</html>