---
import "../scss/styles.scss";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitaciones digitales de Jade Social Agency</title>
    <meta name="description" content="Conoce nuestras invitaciones digitales. Se ajustan a tu paleta de colores de tu evento, puedes pedir tu control de accesos mediante código QR, todas nuestras invitaciones tienen cuenta regresiva.">
    <link rel="shortcut icon" href="/assets/images/icons/Icon-App-20x20@1x.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/libraries/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/libraries/aos/aos.css" />

    <!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://vntinv.com/Gem4pj">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Jade Social Agency: Invitaciones Digitales">
	<meta property="og:description" content="Nuestras invitaciones digitales están diseñadas para reflejar la esencia de el comienzo de su historia de amor o del inicio de tu juventud, con un toque moderno y personalizado.">
	<meta property="og:image" content="https://drive.google.com/open?id=1-PhubfbOGSk_c0N1fEkqlcnOzJnxDg6T&usp=drive_fs">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="vntinv.com">
	<meta property="twitter:url" content="https://vntinv.com/Gem4pj">
	<meta name="twitter:title" content="Jade Social Agency: Invitaciones Digitales">
	<meta name="twitter:description" content="Nuestras invitaciones digitales están diseñadas para reflejar la esencia de el comienzo de su historia de amor o del inicio de tu juventud, con un toque moderno y personalizado.">
	<meta name="twitter:image" content="https://drive.google.com/open?id=1-PhubfbOGSk_c0N1fEkqlcnOzJnxDg6T&usp=drive_fs">
</head>
<body>

    <slot />

    <script is:inline src="/assets/libraries/bootstrap/bootstrap.bundle.min.js"></script>
    <script is:inline src="/assets/libraries/aos/aos.js"></script>
    <script is:inline src="/assets/libraries/lenis/lenis.min.js"></script>
    <script is:inline src="/assets/js/custom.js"></script>
</body>
</html>